@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  min-height: 20px;
  min-width: 20px;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

nav.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #6E069E;
  height: 80px;
  color: white;
  text-decoration: none;
}

nav.topnav a {
  /* Style the links inside the navigation bar */
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav.topnav a:hover {
  background-color: #A974C4;
  /* Change the color of links on hover */
  color: white;
}

nav.active {
  background-color: whitesmoke;
  /* Add an active class to highlight the current page */
  color: #A974C4;
}

nav.topnav .icon {
  /* Hide the link that should open and close the topnav on small screens */
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #B64E64;
  height: 75px;
  font-family: 'Kaushan Script', cursive;
}

header #name {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

header #headericons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #headericons a.headericon {
  margin: 8px;
  padding: 0 10px;
}

.more {
  display: none;
}

.more.myBtn {
  display: inline-block;
}

footer {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 90px;
  width: 100%;
  background: #6E069E;
  color: white;
  padding: 1em;
}

.footericon {
  height: 30px;
  margin: 1em;
  margin-bottom: 0;
}

body #desktop,
body #tablet {
  display: none;
}

body #mobile {
  display: block;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

main h2,
main h3 {
  text-align: center;
}

.whitebg {
  background: white;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 300px;
}

section.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  width: 100%;
}

section.about {
  width: 80%;
  background: white !important;
  margin: 10% auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.about ul {
  display: block;
  width: 100%;
  padding-left: 20px;
}

section.about table th {
  padding: 12px 6px;
  text-align: left;
  background-color: #A974C4;
  color: white;
}

section.about table td {
  border: 1px solid #ddd;
  padding: 8px;
}

section.about table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#projects a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  margin: 30px;
}

.hide-me {
  display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  footer {
    padding: 0.5em;
  }
  .footericon {
    height: 20px;
    margin: 0;
    margin-bottom: 0;
  }
  .footericon header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* Tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #80b6a8;
  }
  body #desktop,
  body #mobile {
    display: none;
  }
  body #tablet {
    display: block;
  }
  body header {
    height: 50px;
  }
  section a img {
    width: 100%;
    margin: 10px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #C9A0BE;
  }
  body #tablet,
  body #mobile {
    display: none;
  }
  body #desktop {
    display: block;
  }
  main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=style.css.map */